
.GalleryContainer {
    /* padding-top: 2%; */
    border: rgb(0, 0, 0) 1px dashed;
}

.GalleryItem {
    background-color: #dbecf589;
    border-radius: 30px;
    font-family: 'Kanit', sans-serif;
}