
.GalleryContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-rows: 350px;
}

.GalleryItem {
    background-color: #dbecf589;
    border-radius: 30px;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
}

.GalleryItemUser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /* border: rgb(0, 0, 0) 1px dashed; */
}

.GalleryItemCover {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    /* height: 60%; */
    /* border: rgb(0, 0, 0) 1px dashed; */
}

.GalleryItem img {
    height: 100%;
    width: 100%;
}


.GalleryItemAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /* border: rgb(0, 0, 0) 1px dashed; */
}

.GalleryItemAvatar img {
    height: 100%;
}

@media (max-width: 1500px) {
    .GalleryContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .GalleryContainer {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}