
.GalleryContainer {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-auto-rows: 350px;
}

.GalleryItem {
    background-color: #dbecf589;
    border-radius: 30px;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.GalleryItemUser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-size: larger;
    /* border: rgb(0, 0, 0) 1px dashed; */
}

.GalleryItemCover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
    width: 13rem;
    /* border: rgb(0, 0, 0) 1px dashed;  */
}

.GalleryItem img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* border-radius: 30px; */
}


.GalleryItemAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    /* border: rgb(0, 0, 0) 1px dashed; */
    margin-top: 2%;
    margin-bottom: 2%;
}

.GalleryItemAvatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

@media (max-width: 1500px) {
    .GalleryContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .GalleryContainer {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}