
.NftList {
    /* background-color: #DBECF5;
    width: 60%;
    height: 50%;
    border: rgb(86, 137, 184) 5px dashed;
    border-radius: 15px;
    margin-right: 10%;
    margin-top: 2%; */
    background-color: #dbecf589;
    border-radius: 30px;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NftListImg{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 150px;
    width: 150px;
}

.NftListImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.NftListTitle{
    margin-bottom: 5%;
}

.GalleryItemContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}



@media (max-width: 1500px) {
    .ProfileGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .ProfileGrid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}