
.NftContainer {
    background-color: #DBECF5;
    display: flex;
    width: 80%;
    /* height: 75%; */
    border: rgb(86, 137, 184) 5px dashed;
    border-radius: 15px;
    /* margin-right: 10%; */
    margin-top: 2%;
}

.Image {
    /* border: rgb(255, 0, 0) 2px dashed; */
    height: 55%;
    margin-top: 2%;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}

.Tags {
    /* border: rgb(0, 243, 117) 2px dashed; */
    height: 15%;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}

.Delete {
    /* border: rgb(0, 61, 243) 2px dashed; */
    /* margin-top: 2%; */
    /* display: flex;
    align-items: end; */
}

.Image img {
    width: 90%;
    height: 100%;
}


.TagsElement {
    background-color: #ffffff;
    margin: 0 3%;
    border-radius: 20px;
    font-family: monospace;
    font-size: larger;
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}

.LeftPart {
    /* border: rgb(235, 104, 104) 2px solid; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 35%;
    margin-left: 1%;
}

.RightPart {
    /* border: rgb(0, 0, 0) 2px solid; */
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 65%;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5% 5% 5% 0;
    padding: 1% 2% 1% 2%;
}

.UserInfo {
    /* border: rgb(255, 0, 0) 2px solid; */
    font-family: 'Kanit', sans-serif;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: large;
    /* margin: 2% 0 0 2%; */
}

.UserPhoto {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 2%;
    /* margin: 5% 2% 5% 5%; */
}

.UserPhoto img {
    height: 90%;
}



.ItemName {
    /* border: rgb(115, 255, 0) 2px solid; */
    font-family: 'Kanit', sans-serif;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: x-large;
    padding-left: 2%;
}

.ItemInfo {
    /* border: rgb(255, 0, 0) 2px solid; */
    display: flex;
    flex-direction: column;
    font-family: monospace;
    /* height: 60%; */
    display: flex;
    padding-left: 2%;
}

.InfoElement {
    /* border: rgb(255, 0, 0) 2px solid; */
    flex-grow: 1;
    display: flex;
    /* align-items: center; */
    font-size: larger;
}

.InfoElementTitle {
    display: flex;
    /* border: rgb(0, 0, 0) 1px dashed; */
    width: 25%;


}

.InfoElementContent {
    display: flex;
    /* border: rgb(0, 0, 0) 1px dashed; */
    width: 75%;
    white-space: pre-line;
}