
.UserPart {
    font-family: 'Kanit', sans-serif;
    display: flex;
    width: 90%;
    height: 30%;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.Photo {
    width: 30%;
    max-width: 180px;
    aspect-ratio: 1;
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: left;
}

.Photo img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.Info {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    text-align: left;
    margin-left: 3%;
    padding-left: 2%;

    justify-content: center;
    /* border: 2px solid red; */
}

.InfoItem {
    /* border: 2px solid red; */
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 0.5rem 0 0.5rem 0;
}

.InfoIcon {
    display: flex;
    /* min-width: 30px;
    max-width: 50px; */
    width: 10%;
    height: 80%;
    /* margin-right: 2%; */
    /* border: red 2px solid; */
}

.InfoIcon img {
    height: 100%; 
    width: 100%;
}

.InfoNum {
    flex-grow: 1;
    font-size: large;
    font-weight: bold;
    color: #818181;
}

.LevelBar {
    width: 80%;
}

.Award {
    display: flex;
    width: 90%;
    height: 45%;
    font-family: 'Kanit', sans-serif;
}

.AwardElement {
    width: 25%;
    background-color: #DBECF5;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin: 0 1%;

    /* border: 2px solid red; */
}


.TokenType {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    color: #1B3973;
    margin-top: 3%;
}

.TokenImgContainer {
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TokenImg {
    width: 80%;
    height: 100%;
}

.TokenNum {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: xx-large;
    font-weight: bold;
    color: #1B3973;
}

@media (max-width: 500px) {
    .UserPart {
        height: 15%;
    }
    .Photo {
        width: 40%;
    }
    .InfoItem {
        /* height: 20%; */
    }
    .Award {
        flex-direction: column;
    }
    .AwardElement {
        margin-bottom: 1rem;
        width: 100%;
    }
}