.App {
  text-align: center;
  display: flex;
  border-radius: 100px;
}

.Sidebar {
  width: 20%;
  min-width: 180px;
  max-width: 185px;
  background-color: #9FCAE3;
}


@media (max-width: 800px) {
  .Sidebar {
    display: none;
  }
}


.MainPage {
  /* flex: 8; */
  /* height: 100%; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.UserBar {
  display: flex;
  flex: 1;
  justify-content: center;
  /* border: rgb(0, 0, 0) 2px dashed; */
  max-height: 80px;
  max-width: 100%;
}

.UserBarElement {
  /* border: rgb(255, 0, 0) 2px dashed; */
  display: flex;
  justify-content: end;
  align-items: center;
  width: 80%;
  /* margin-top: 2%; */
}

.UserPhoto img {
  height: 100%;
}

.PageContent {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  max-width: 100%;
}

.Logo {
  /* margin: 1rem 0.5rem 1rem 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: rgb(0, 0, 0) 2px solid; */
  margin: 10% 0 5% 0;
}

.Logo img {
  width: 80%;
  margin: 1rem 0 1rem 0;
}

.Function {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  user-select: none;
}

.Function::selection {
  background: transparent;
  color: inherit;
}

.FunctionElement {
  max-height: 50px;
  width: 80%;
  margin: 2% 0 2% 0;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.FunctionImg {
  /* border: red 2px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  margin-left: 10%;
}

.FunctionImg img {
  display: flex;
  height: 30%;
}

.FunctionTitle {
  /* border: red 2px solid; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 80%;
  height: 100%;
  font-family: 'Kanit', sans-serif;
  margin-left: 3%;
  font-size: 100%;
}

.BackContainer {
  display: flex;
  /* width: 120vh; */
  width: 100%;
  padding-left: 1rem;
  align-items: center;
}

.BackContainer img {
  height: 80%;
}


.UploadContainer {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 80%;
  margin-top: 1rem;
  background-color: #dbecf589;
  border: #9FCAE3 4px dashed;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

}

.UploadPic {
  width: 130px; 
  margin-top: 2rem;
}

.UploadWord {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Kanit', sans-serif;
}

.Done {
  padding-right: 5px;
}


.ClickButton {
  background-color: #9FCAE3;
  border-radius: 30px;
  width: 9rem;
  height: 2.5rem;
  /* padding-top: 10px; */
  margin-bottom: 1rem;
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
}

.ClickButtonWord
{
  margin-right: 1%;
}

.ClickButtonIcon
{
  margin-left: 1%;
  margin-top: 2%;
}

.GreenCheck {
  width: 1rem;
  height: auto;
}

.PlusContainer {
  margin: 2% 0 2% 0;
}

.Plus {
  width: 30px;
  height: auto;
  /* padding-top: 1rem; */
}


.ChooseFile {
  font-size: 50px;
}

.LogoImage {
  /* border: red 2px solid; */
  justify-content: center;
  align-items: center;
  width: 150px;
  height: none;
  object-fit: contain;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
